@font-face {
  font-family: "Caviar Dreams";
  src: local("Caviar Dreams"), url("CaviarDreams.woff2") format("woff2"),
    url("CaviarDreams.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Caviar Dreams";
  src: local("Caviar Dreams"), url("CaviarDreams-Bold.woff2") format("woff2"),
    url("CaviarDreams-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}